/* Project 4 - Final  */


header	{
		width: 1000px;
		background-color: white;
		margin: auto;
		padding-top: 25px;
		padding-bottom: 20px;
		text-align: center;
}

nav		{
		margin: auto;
		text-align: center;
		padding-top: 20px;
		width: 1000px;
		background-color: #ffcccc;
		height: 33px;
}

nav a   {
		padding-right: 40px;
}

a 		{
		color: #ff6666;
		text-decoration: none;
}

a:hover {
		color: #666666;
		text-decoration: none;
}

a:active {
		color: #ff6600;
		text-decoration: none;
}


body {
		font-family: Tahoma, Geneva, sans-serif;
       	font-size: 85%;
   		line-height: 1em;
		background-color: #e6e6e6; 
}


.container  {
		width: 1000px;   
		min-height: 750px;
		margin: auto;
		margin-top: 0px;
		padding-top: 0px;
		background-color: white;
		color: #666666;
 }

 .content {
 		padding-top: 40px;
 		text-align: center;
 }

 .formcontent {
 		padding-top: 40px;
 		padding-left: 100px;
 		text-align: left;
 }

section	{
		margin-top: 0px;
		padding-top: 0px;
}

footer 	{
		font-size: 80%;
		text-align: center;
		padding-bottom: 30px;
}

.itemimgsize  {
	    height: 15%;
    	width: 15%;
}

h3		{
		font-size: 90%;
}

p 		{
		padding-left: 30px;
		padding-right: 30px;
}


.error  {
		color: red;
		font-size: 80%;
}

ul      {
		list-style-type: none;
		color: red;
}

li      {
		list-style-type: none;
		color: red;
}


.form-group {
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
}


label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
    font-size:1em;
    font-weight:bold;
}

fieldset label {
    margin-top:0px;
}

legend {
    margin-bottom:5px;
    border-bottom:0px;
}

.checkboxLabel, .radioLabel {
    display:inline;
}

.form-instructions {
    margin:5px 0px;
    color:grey;
}

input[type=text],input[type=password],select {
    width:275px;

}

.flash_message {
    width: 997px;
    text-align:center;
    padding:5px;
    background-color:yellow;
	margin: auto;
	margin-top: 0px;
	padding-top: 0px;
	position: fixed;
}

/* clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* For IE 6/7 only */
}
/* End clearfix */

.item {
    border:1px solid #ccc;
    margin-right:10px;
    margin-bottom:10px;
    float:left;
    padding:10px;
    height:300px;
    width:25%;
    min-width:250px;
}

.tags {
    margin-top:3px;
}

.tag {
    background-color:#eee;
    margin-bottom:5px;
    display:inline-block;
    padding:3px;
    text-transform: uppercase;
    font-size:.7em;
}

.truncate {
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover {
    width:100px;
}